/* * * * * * * * * * *
    HEADER
* * * * * * * * * * */

.modal-title
{
    padding-top: 2%;
    padding-bottom: 2%;
    color: #e6ffe6;
	font-size: 30px;
	letter-spacing: 10px;
    text-shadow: 3px 3px 4px black;
    text-align: center;
}

.modal-header
{
    background-image:url('../images/crb.png');
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: 100% auto;
    border-image: linear-gradient(to right, #343434 0%, #33ff33 50%, #343434 100%);
    border-image-slice: 1;
    border-style: solid;
    border-width: 0 0 1px 0;
}

.close
{
    color: #33ff33 !important;
    opacity: 1 !important;
}

/* * * * * * * * * * *
    BODY
* * * * * * * * * * */

label
{
    color: white !important;
}

.modal-perso
{
    background-image: url('../images/space2.jpg');
    background-size: 100% auto;
    border: 1px solid black !important;
}

.alert
{
    margin: 0 auto;
    height: 4%;
    line-height: 5%;
    padding-top: 100px;
    text-align: center !important;
    font-size: 0.9em;
}


#connexion
{
    margin-top: 7%;
    margin-bottom: -4%;
}

#inscr
{
    margin-top: 7%;
    margin-bottom: -4%;
}

#rein
{
    margin-top: 7%;
    margin-bottom: -4%;
}

#error_box_connexion
{
    visibility: hidden;
}

#error_box_inscription
{
    visibility: hidden;
}

#error_box_reinit
{
    visibility: hidden;
}
