*
{
    margin: 0; 
    padding: 0;
}
html
{
    width: 100%;
}
body
{
    background-image: url('http://127.0.0.1:8080/images/space2.jpg');
    background-attachment: fixed;
    background-size: 100% auto;
}

#canvas
{
    display: block;
    margin: 0 auto;
    background-image: url('http://127.0.0.1:8080/images/circuit.jpg');
    border-radius: 15px;
    border: 10px solid #000710;
    box-shadow: 1px 1px 12px black;
}

.navbar
{
    border-image: linear-gradient(to right, #343434 0%, #33ff33 50%, #343434 100%) !important;
    border-image-slice: 1 !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
}

.navbar-fixed-bottom
{
    border-image: linear-gradient(to right, #343434 0%, #33ff33 50%, #343434 100%) !important;
    border-image-slice: 1 !important;
    border-style: solid !important;
    border-width: 1px 0 0 0 !important;
}

#content
{
    margin: 0 auto;
    width: 75%;
    background-color: #3A3A3A;
    box-shadow: 0px 0px 7px 1px black;
    color: white;
}

#rules
{
    padding-top: 8%;
    padding-bottom: 8%;
    text-align: left !important;
    width: 65%;
    margin: 0 auto;
}

#exp
{
    padding-top: 2%;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 6%;
}

#desc
{
    padding-top: 2%;
    margin-bottom: 6%;
}

#position
{
    width: 80%;
    margin: 0 auto;
    padding-top: 2%;
    margin-bottom: 6%;
}

.param
{
    float: right;
}

.list-group
{
    padding-top: 15%;
    color: black !important;
}

#classement
{
    min-height: 95%;
    width: 65%;
    margin: 0 auto;
    padding-top: 8%;
}

#profil
{
    padding-top: 12%;
    width: 65%;
    margin: 0 auto;
    min-height: 100%;
}

#tutorial
{
    padding-top: 7%;
    width: 65%;
    margin: 0 auto;
    min-height: 100%;
    text-align: center;
    font-size: 1.3em;
}

.pad
{
    padding-left: 4%;
}

.marg
{
   padding-bottom:7%; 
}

.hmarg
{
    margin-bottom: 7%;
}

#presentation
{
    padding-top: 15%;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    min-height: 95%;
}

#404
{
    padding-top: 15%;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    min-height: 95%;
}

#titre
{
    text-align: center;
    color: #e6ffe6;
	font-size: 23px;
	letter-spacing: 9px;
    text-shadow: 1px 2px 5px black;
    padding-top: 10px;
}

.parameter_dropdown
{
    float: right;
}

#form_profil
{
    padding-top: 8%;
}

.cp
{
    margin-bottom: 25px;
}