<div id="presentation">
    <p class="cp">Nous avons décidé de réaliser comme projet annuel le développement total d’un jeu de plateau
    stratégique unique, inventé par un « Youtubeur ».</p>
    <p class="cp">Celui-ci a mis au point un jeu de stratégie, à la croisée des échecs, du jeu « Risk » et du jeu de Go,
    pouvant se joueur sur une feuille et à plusieurs.</p>
    <p class="cp">Vous pourrez trouver les règles écrites en anglais (pour une meilleure compréhension, le jeu étant
    multijoueur) dans la partie <a href="regles.html">règles</a> de ce site.</p>
    <p class="cp">L’idée de notre projet annuel est donc de créer une version logicielle de ce jeu qui, actuellement,
    n’en a absolument aucune et n’existe que sous forme papier.</p>
    <p class="cp">Nous estimons que de par sa complexité, son caractère multijoueur et de par la notion de plugins que
    nous voulons y ajouter, ce projet correspondra parfaitement au cahier des charges technique.</p>
    <p>Le jeu sera téléchargeable dans la partie <a href="telechargement.html">téléchargements</a> de ce site, et
    un tutoriel interactif sera disponible dans la partie <a href="tutoriel.html">tutoriel</a>.</p>
</div>