<div id="classement">
    <div id="choice">
        <div class="dropdown param">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Classement par :
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li class="active"><a href="#">points maximum</a></li>
                <li><a href="#">points minimum</a></li>
                <li><a href="#">A-Z</a></li>
                <li><a href="#">Z-A</a></li>
            </ul>
        </div>
        <div class="col-lg-5 param">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Pseudo du joueur...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Chercher</button>
                </span>
            </div>
        </div>
        <ul class="list-group">
            <!-- a remplir avec methodes <li class="list-group-item">
                <span class="badge">4690 pts</span>
                Thomas
            </li>
            <li class="list-group-item">
                Robin
                <span class="badge">4523 pts</span>
            </li>
            <li class="list-group-item active">
                Jean
                <span class="badge">4398 pts</span>
            </li>-->
        </ul>
    </div>
</div>
