<div id="contact">
    <form action="#" method="POST" class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label">Author</label>  
                <div class="col-md-7">
                    <input id="author" name="author" type="text" placeholder="Who are you ?" class="form-control input-md" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Title</label>  
                <div class="col-md-7">
                    <input id="title" name="title" type="text" placeholder="Type the subject of your message" class="form-control input-md" required>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">Text</label>
                <div class="col-md-7">
                    <textarea id="text" name="text" class="form-control" rows="10" placeholder="Type your text here" required></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-6">
                    <button type="submit" name="valider" class="btn btn-success">send</button>
                </div>
            </div>
        </form> 
        <div id="error_box_connexion" class="alert alert-danger" role="alert"></div>
</div>