<div class="modal fade" id="inscription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-perso">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h2 class="modal-title" id="myModalLabel">P A R A S I T E S</h2>
            </div>
            <div class="modal-body">
                <div id="inscr">
                    <form action="#" method="POST" id="form_inscription" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="textinput">Username</label>  
                            <div class="col-md-6">
                                <input id="pseudo" name="pseudo" type="text" placeholder="" class="form-control input-md" required="" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="passwordinput">Password</label>
                            <div class="col-md-6">
                                <input id="password" name="password" type="password" placeholder="" class="form-control input-md" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="passwordinput">Confirmation du password</label>
                            <div class="col-md-6">
                                <input id="verif_password" name="verif_password" type="password" placeholder="" class="form-control input-md" required="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="textinput">Mail</label>  
                            <div class="col-md-6">
                                <input id="email" name="email" type="text" placeholder="" class="form-control input-md" required="" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="textinput">Nom</label>  
                            <div class="col-md-6">
                                <input id="lastname" name="lastname" type="text" placeholder="" class="form-control input-md" required="" value="">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="textinput">Prénom</label>  
                            <div class="col-md-6">
                                <input id="firstname" name="firstname" type="text" placeholder="" class="form-control input-md" required="" value="">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="textinput">Numéro de téléphone</label>  
                            <div class="col-md-6">
                                <input id="phone" name="phone" type="text" placeholder="" class="form-control input-md" required="" value="">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label" for="valider"></label>
                            <div class="col-md-6">
                                <button id="valider_inscription" type="button" name="valider_inscription" value="inscription" class="btn btn-success">valider</button>
                            </div>
                        </div>
                    </form>
                    <div id="error_box_inscription" class="alert alert-danger" role="alert"></div>
                </div>
            </div>
        </div>
    </div>
</div>