<div id="profil">

    <div id="button_drop" class="dropdown parameter_dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Parameter to change :
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu menu-profil" aria-labelledby="dropdownMenu1">
            <li><a href="profil?mod=pseudo">Pseudo</a></li>
            <li><a href="profil?mod=password">Password</a></li>
            <li><a href="profil?mod=lastname">Last name</a></li>
            <li><a href="profil?mod=firstname">First name</a></li>
            <li><a href="profil?mod=email">Email</a></li>
        </ul>
    </div>
    <div id="form_profil">
        <!--- PARTIE SUR USERNAME -->

        <% if(mod == "pseudo"){%>
        <div id="username-form">
            <h3>USERNAME</h3>
            <hr class="hmarg">
            <form action="#" method="POST" class="form-horizontal marg">
                <div class="form-group">
                    <label class="col-md-5 control-label" for="textinput">Nouvel username</label>  
                    <div class="col-md-4">
                        <input id="textinput" name="input1" type="text" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="textinput">Confirmation de l'username</label>  
                    <div class="col-md-4">
                        <input id="textinput" name="input2" type="text" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="valider"></label>
                    <div class="col-md-4">
                        <input type="hidden" name="type_form" value="pseudo">
                        <button class="btn btn-success">valider</button>
                    </div>
                </div>
            </form>
        </div>
        <%}%>

        <!--- PARTIE SUR PASSWORD -->

        <% if(mod == "password"){%>
        <div id="password-form">
            <h3>PASSWORD</h3>
            <hr class="hmarg">
            <form action="#" method="POST" class="form-horizontal marg">
                <div class="form-group">
                    <label class="col-md-5 control-label" for="passwordinput">Nouveau password</label>
                    <div class="col-md-4">
                        <input id="passwordinput" name="input1" type="password" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="passwordinput">Confirmation du password</label>
                    <div class="col-md-4">
                        <input id="passwordinput" name="input2" type="password" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="valider"></label>
                    <div class="col-md-4">
                        <input type="hidden" name="type_form" value="password">
                        <button class="btn btn-success">valider</button>
                    </div>
                </div>
            </form>
        </div>
        <%}%>

        <!--- PARTIE SUR LE MAIL -->

        <% if(mod == "email"){%>
        <div id="email-form">
            <h3>MAIL</h3>
            <hr class="hmarg">
            <form action="#" method="POST" class="form-horizontal marg">
                <div class="form-group">
                    <label class="col-md-5 control-label" for="textinput">Nouveau mail</label>  
                    <div class="col-md-4">
                        <input id="textinput" name="input1" type="text" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="textinput">Confirmation du mail</label>  
                    <div class="col-md-4">
                        <input id="textinput" name="input2" type="text" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="valider"></label>
                    <div class="col-md-4">
                        <input type="hidden" name="type_form" value="email">
                        <button class="btn btn-success">valider</button>
                    </div>
                </div>
            </form> 
        </div>
        <%}%>

        <!--- PARTIE SUR LE LASTNAME -->

        <% if(mod == "lastname"){%>
        <div id="lastname-form">
            <h3>LAST NAME</h3>
            <hr class="hmarg">
            <form action="#" method="POST" class="form-horizontal marg">
                <div class="form-group">
                    <label class="col-md-5 control-label" for="textinput">Nouveau nom de famille</label>  
                    <div class="col-md-4">
                        <input id="textinput" name="input1" type="text" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="textinput">Confirmation du nom de famille</label>  
                    <div class="col-md-4">
                        <input id="textinput" name="input2" type="text" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="valider"></label>
                    <div class="col-md-4">
                        <input type="hidden" name="type_form" value="lastname">
                        <button class="btn btn-success">valider</button>
                    </div>
                </div>
            </form> 
        </div>
        <%}%>

        <!--- PARTIE SUR LE FIRSTNAME -->

        <% if(mod == "firstname"){%>
        <div id="firstname-form">
            <h3>FIRST NAME</h3>
            <hr class="hmarg">
            <form action="#" method="POST" class="form-horizontal marg">
                <div class="form-group">
                    <label class="col-md-5 control-label" for="textinput">Nouveau prénom</label>  
                    <div class="col-md-4">
                        <input id="textinput" name="input1" type="text" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="textinput">Confirmation du prénom</label>  
                    <div class="col-md-4">
                        <input id="textinput" name="input2" type="text" class="form-control input-md" required="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-5 control-label" for="valider"></label>
                    <div class="col-md-4">
                        <input type="hidden" name="type_form" value="firstname">
                        <button class="btn btn-success">valider</button>
                    </div>
                </div>
            </form> 
        </div>
        <%}%>
        <% if(error != ""){%>
            <div id="error_box_profil" class="alert alert-danger" role="alert"> <%= error %> </div>
        <%} else if(info != ""){%>
            <div id="error_box_profil" class="alert alert-success" role="alert"> <%= info %> </div>
        <%}%>
    </div>
</div>