<div class="modal fade" id="reinit" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-perso">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h2 class="modal-title" id="modal-label">P A R A S I T E S</h2>
                </div>
                <div class="modal-body">
                    <div id="rein">
                        <form action="#" method="POST" class="form-horizontal">
                            <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Username</label>  
                            <div class="col-md-7">
                                <input id="pseudo_reinit" name="pseudo_reinit" type="text" placeholder="" class="form-control input-md" required="" value="">
                            </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="textinput">Email</label>
                                <div class="col-md-7">
                                    <input id="email_reinit" name="email_reinit" type="text" placeholder="" class="form-control input-md" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="send"></label>
                                <div class="col-md-7">
                                    <button type="button" id="send" name="send" class="btn btn-success">send</button>
                                </div>
                            </div>
                        </form> 
                        <form action="#" method="POST" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="passwordinput">Validation code</label>
                                <div class="col-md-7">
                                    <input id="password_reinit" name="password_reinit" type="password" placeholder="" class="form-control input-md" required="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="valider"></label>
                                <div class="col-md-7">
                                    <button id="valider_reinit" name="valider_reinit" class="btn btn-success">valider</button>
                                </div>
                            </div>
                        </form> 
                        <div id="error_box_reinit" class="alert alert-danger" role="alert"></div>
                    </div>
                </div>
            </div>
        </div>
</div>