<div id="telechargement">
    <button id="get_application" type="button" name="get_application" class="btn btn-success">APPLICATION</button>
    <button id="get_plugin" type="button" name="get_plugin" class="btn btn-success">PLUGIN HISTORIQUE</button>
</div>