<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/style_in_website.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style_modal.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/javascripts/modal_init.js"></script>
    <script src="/javascripts/telechargement_clicks.js"></script>
    <script src="/javascripts/modal_inscription.js"></script>
    <script src="/javascripts/modal_connexion.js"></script>
    <script src="/javascripts/modal_reinit.js"></script>
    <%if(typeof(param) !== "undefined" && param == "inscription"){%> <script src="/javascripts/activate_inscription.js"></script> <%} 
    else if(typeof(param) !== "undefined" && param == "reinit") {%> <script src="/javascripts/activate_reinit.js"></script> <%}%>
    <script type="text/javascript" src="/classes/Board.js"></script>
    <script type="text/javascript" src="/classes/Tileset.js"></script>
    <script type="text/javascript" src="/classes/Pawn.js"></script>
    <script type="text/javascript" src="/classes/Queen.js"></script>
    <script type="text/javascript" src="/classes/Worker.js"></script>
    <script type="text/javascript" src="/classes/Fighter.js"></script>
    <script type="text/javascript" src="/classes/Colony.js"></script>
    <script type="text/javascript" src="/classes/Defenser.js"></script>
    <script type="text/javascript" src="/index.js"></script>
</head>
<body>
    <% include inscription %> <!-- Fenêtre modale inscription -->
    <% include connexion %> <!-- Fenêtre modale connexion -->
    <% include reinit %> <!-- Fenêtre modale mot de passe oublié -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="accueil.html">Parasites</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="<%if(page == "ACCUEIL"){%>active<%}%>"><a href="/accueil">Accueil</a></li>
                    <li class="<%if(page == "REGLES"){%>active<%}%>"><a href="/regles">Règles</a></li>
                    <li class="<%if(page == "CLASSEMENT"){%>active<%}%>"><a href="/classement">Classement</a></li>
                    <li class="<%if(page == "TUTORIAL"){%>active<%}%>"><a href="/tutorial">Tutorial</a></li>
                    <li class="<%if(page == "TELECHARGEMENT"){%>active<%}%>"><a href="/telechargement">Telechargement</a></li>
                    <li class="<%if(page == "CONTACT"){%>active<%}%>"><a href="/contact">Contact</a></li>
                    <% if(connected){ %><li class="<%if(page == "PROFIL"){%>active<%}%>"><a href="/profil">Profil</a></li><%}%>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <p class="navbar-text"><b><% if(connected){ %> Compte : <%= user %> <%}%></b></p>
                    <% if(connected){ %>
                        <button type="button" class="btn btn-danger navbar-btn" onclick="location.href = '/deconnexion'">Déconnexion</button>
                        <button type="button" id="button_inscription" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#inscription">Inscription</button>
                    <%} else{ %>
                        <button type="button" class="btn btn-success navbar-btn" data-toggle="modal" data-target="#connexion">Connexion</button>
                        <button type="button" id="button_inscription" class="btn btn-primary navbar-btn" data-toggle="modal" data-target="#inscription">Inscription</button>
                    <%}%>
                </ul>
            </div>
        </div>
    </nav>
    <div id="content">
        <% 
            switch(page){
                case "ACCUEIL" : %>
                    <% include accueil %>
                    <% break;
                case "REGLES" : %>
                    <% include regles %>
                    <% break;
                case "CLASSEMENT" : %>
                    <% include classement %>
                    <% break;
                case "PROFIL" : %>
                    <% include profil %>
                    <% break;
                case "TELECHARGEMENT" : %>
                    <% include telechargement %>
                    <% break;
                case "CONTACT" : %>
                    <% include contact %>
                    <% break;
                case "ERROR" : %>
                    <% include error %>
                    <% break;
                case "TUTORIAL" : %>
                    <% include tutorial %>
                    <% break;
            }
        %>
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <p id="titre"><%= page %></p>
    </nav>
</body>
</html>