<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="stylesheets/style_in_website.css" type="text/css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="accueil.html">Parasites</a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="#"><a href="accueil">Accueil</a></li>
                    <li class="#"><a href="regles">Règles</a></li>
                    <li class="#"><a href="classement">Classement</a></li>
                    <li class="active"><a href="#">Tutoriel</a></li>
                    <li class="#"><a href="telechargement">Telechargement</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <p class="navbar-text">Compte : <b>Jean</b></p>
                    <li><a href="profil">Profil</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div id="content">
    </div>
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <p id="titre">TUTORIEL</p>
    </nav>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>